﻿@using Microsoft.AspNet.Identity @if(Request.IsAuthenticated){
<div>
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#">Sample Pages</a>
            <ul class="dropdown-menu" role="menu" id="menu"></ul>
        </li>
    </ul>
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>

    var menuuri = '../../sample/menuitems'
    $(document).ready(function () {

        getmenu();
    });

    function getmenu() {
        // Send an AJAX request
        $.getJSON(menuuri)
            .done(function (data) {
                // On success, 'data' contains a list of mytestclass1.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $('#menu').html($('#menu').html() + formatmenu(item))
                });
            });
    }

    function formatmenu(item)
    {
        return "<li><a href='../../" + item.Route + "'>" + item.Title + "</a></li>";
    }
</script>
}<!--end of authenticate block-->