
@{
    ViewBag.Title = "Students Index";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div id = "list">
        <h2 style = "text-align:center">Students List</h2>
      <a href = "#" onclick="showedit(-1, true)">Add new item</a>
      <table class="table input-sm">
            <thead id = "listhead">
                <tr>
					<th valign="top">
						Id
					</th>
					<th valign="top">
						Full Name
					</th>
					<th valign="top">
						Age
					</th>
					<th valign="top">
						Class ID
					</th>
					<th valign="top">
						Status ID
					</th>
                  <th></th>
                </tr>
            </thead>
            <tbody id="listbody"></tbody>
        </table>
        <ul class="pagination">
        </ul>
    </div>
    <br />
  <div id="edit" >
        <h2 style = "text-align:center" id="formcaption">Edit Form</h2>
        <form role="form" class="form-horizontal" id="editDetailForm" name="editDetailForm" >
            <label hidden id="hiddenid" class="col-lg-12"></label>
            <div class="col-sm-12" >
                <div class="form-group form-group-sm" >
                    <label class="col-sm-3 control-label" ></label>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Id" class="col-sm-3 control-label">Id</label>
                    <div class="col-sm-9">
                        <input type="text" id="Id" name="Id" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "FullName" class="col-sm-3 control-label">FullName</label>
                    <div class="col-sm-9">
                        <input type="text" id="FullName" name="FullName" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "Age" class="col-sm-3 control-label">Age</label>
                    <div class="col-sm-9">
                        <input type="text" id="Age" name="Age" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "ClassID" class="col-sm-3 control-label">ClassID</label>
                    <div class="col-sm-9">
                        <input type="text" id="ClassID" name="ClassID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm" >
                    <label for= "StatusID" class="col-sm-3 control-label">StatusID</label>
                    <div class="col-sm-9">
                        <input type="text" id="StatusID" name="StatusID" placeholder="Required" class="form-control input-sm" />
                    </div>
                </div>

                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <a href = '#' onclick='update()' id="updatebtn"> Update</a>
                        <a href = '#' onclick='canceledit()'>Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
        
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js" ></script>
<script src = "@Url.Content("~/SampleScripts/Students.js")" type= "text/javascript" ></script>

